body,
html {
  margin: 0;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.list{
  margin: auto;
  width: 30rem;
  min-height: 25rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.marker, .arrow{
  width: 0.75em;
  height: 0.75em;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow{
  background-image: url("../icons/arrowRight.svg");
  background-size: 100% 75%;
  transform: translateY(15%) rotate(90deg);
  transition: 0.1s ease-in-out;
}

.marker{
  background-image: url("../icons/marker.png");
  background-size: 75%;
}

.unit{
  font-size: x-large;
  cursor: pointer;
  position: relative;
  user-select: none;
  color: rgb(18, 18, 18);
  font-weight: 300;
}

.unit__body{
  display: flex;
  align-items: center;
}

.unit span{
  margin: 0 0 0 0.25rem;
}

.node-list .unit{
  height: fit-content;
}

.node-list_toggled .unit{
  height: 0;
  opacity: 0;
}

.node{
  transition: color 0.25s;
}

.node:hover{
  color: rgb(7, 114, 186);
}

.node-list_toggled > .unit__body > .arrow{
  transform: translateY(0) rotate(0);
}

@media screen and (max-width: 576px) {
  .unit{
    font-size: large;
  }
}

